<div class="modal-header">
    <h3 class="caption-subject font-green bold">{{title}}短信平台渠道</h3>
</div>

<div class="modal-body">
    <form role="form" name="form">
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">平台编号
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <select style="width:300px;" ng-model="formData.platformCode" ng-options="x.platformCode as (x.platformCode+$index) for x in platformC" name="platformCode" class="form-control input-small input-inline" required>
                        <option value="">请选择平台</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  渠道编号
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <select style="width:300px;" ng-model="formData.channelCode" ng-options="x.channelCode as (x.channelCode+$index) for x in channelC" name="channelCode" class="form-control input-small input-inline" required>
                        <option value="">请选择渠道</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  短信发送用户名
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="smsChannelUser" placeholder="" class="form-control" ng-model="formData.smsChannelUser  " >
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  短信发送密码  
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="smsChannelPwd" placeholder="" class="form-control" ng-model="formData.smsChannelPwd  " >
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  备注  
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="remark" placeholder="" class="form-control" ng-model="formData.remark" >
                </div>
            </div>
             

            <div class="err font-red">
                <span>{{error_description}}</span>
            </div>
            <div class="form-group" style="text-align: center">
                <button type="submit" class="btn btn-success" ng-click="post(formData)" ng-disabled="form.$invalid">提交</button>
                <button class="btn" ng-click="cancel()">取消</button>
            </div>
    </form>
</div>
