<div class="orgnize" ng-controller="channelController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">短信渠道</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:;" ng-click="add()" class="btn green-meadow">
                                    <i class="fa fa-plus"></i> 添加
                                </a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <page-per-counter class="form-group col-md-3"></page-per-counter>
                                        <div  class="col-md-1 col-sm-12"></div>

                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <!-- <div style="padding-top: 0px; margin: 0px;" class="form-group col-md-2 input-md form-md-line-input ">    
                                                <input type="text" class="form-control" ng-model="filterOptions.channelId" placeholder="渠道Id"> 
                                                <div class="form-control-focus"> </div>
                                            </div> -->
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                <input type="text" class="form-control input-md" ng-model="filterOptions.channelCode" placeholder="渠道编号"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                <input type="text" class="form-control input-md" ng-model="filterOptions.channelName" placeholder="渠道名称"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                 <input type="text" class="form-control input-md" ng-model="filterOptions.smsChannelUrl" placeholder="渠道短信发送地址"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                         <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                             <input type="text" class="form-control input-md" ng-model="filterOptions.customJson" placeholder="短信通道自定义串"> 
                                            <div class="form-control-focus"> </div>
                                        </div>
                                        
                                </div>
                                </div>
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover table-striped table-condensed flip-content" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="" tabindex="11" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="序号"> 序号 </th>
                                        <!-- <th class="" tabindex="2" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="渠道Id"> 渠道Id</th> -->
                                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="渠道编号"> 渠道编号</th>
                                        <th class="" tabindex="1" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="渠道名称"> 渠道名称</th>
                                        <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="渠道短信发送地址"> 短信发送地址</th>
                                        <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="短信通道自定义串"> 短信通道自定义串</th>
                                        <th class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="备注"> 备注</th>
                                        <th width="20%" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="操作"> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX" role="row" ng-repeat="list in dataInfo">
                                        <td>{{$index}}</td>
                                        <!-- <td>{{list.channelId}}</td> -->
                                        <td>{{list.channelCode}}</td>
                                        <td>{{list.channelName}}</td>
                                        <td>{{list.smsChannelUrl}}</td>
                                        <td>{{list.customJson}}</td>
                                        <td>{{list.remark}}</td>
                                        <td>
                                            <a href="javascript:;" ng-click="edit(list)" class="btn blue">
                                                <i class="fa fa-edit"></i>  修改
                                            </a>
                                                <!-- <a  href="javascript:;" ng-click="delet(list.channelId)" class="btn red-intense">
                                                    <i class="fa fa-trash"></i> 删除
                                                </a> -->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                            <div style="padding: 20px 0px; text-align: center;font-size: 18px; font-weight: bold; color: #cc9f77;" ng-show="platformAuthMsg">
                                {{platformAuthMsg}}
                            </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="pageCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="10"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
