<div class="orgnize" ng-controller="chartTopicController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">消息主题图表</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                请选择
                            </label>
                            <form class="col-md-10 form-inline " name="form">
                                <select class="form-control" ng-model="address.province" ng-options="key as key for (key,value) in division"
                                        ng-change="address.city='';address.district='';" required>
                                    <option value="">省</option>
                                </select>
                                <select class="form-control" ng-model="address.city" ng-options="key as key for (key,value) in division[address.province]"
                                        ng-change="address.district='';" required>
                                    <option value="">市</option>
                                </select>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-primary btn-sm" ng-click="submit(address)" ng-disabled="form.$invalid">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="chartBroker" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
