<div class="orgnize" ng-controller="chartBrokerController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">Broker 图表</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chartBroker" style="height: 500px"></div>
                </div>
            </div>
            <div style="padding: 20px 0px; text-align: center;font-size: 18px; font-weight: bold; color: #cc9f77;" ng-show="platformAuthMsg">
                {{platformAuthMsg}}
            </div>
        </div>
    </div>
</div>
</div>
