<div class="orgnize" ng-controller="unlockController">
<div class="modal-body">
    <form role="form" name="form">
            <div class="form-group col-md-12">
                <label class="control-label col-md-1">手机号码	
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-3 input-icon right">
                    <input type="text" name="phone" placeholder="" class="form-control" ng-model="formData.phone" required>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-1">平台代码
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-3 input-icon right">
                    <!-- <input type="text" name="platformCode" placeholder="" class="form-control" ng-model="formData.platformCode" required> -->
                    <select style="width:300px;" ng-model="formData.platformCode" ng-options="x.platformCode as (x.platformCode+$index) for x in platformC" name="platformCode" class="form-control input-small input-inline" required>
                        <option value="">请选择平台</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-1">模板代码
				<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-3 input-icon right">
                <!-- <input type="text" name="templateCode" placeholder="" class="form-control" ng-model="formData.templateCode" required> -->
                    <select style="width:300px;" ng-model="formData.templateCode" ng-options="x.templateCode as (x.templateCode+$index) for x in templateC" name="templateCode" class="form-control input-small input-inline" required>
                        <option value="">请选择模板</option>
                    </select>
                </div>
            </div>   
            <div class="form-group col-md-12">
                <div class="col-md-2"></div>
                <div class="form-group" style="text-align: left;">
                    <div class="err font-red">
                        <span>{{error_description}}</span>
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="post(formData)" ng-disabled="form.$invalid">提交</button>
                </div>
            </div>
    </form>
</div>
</div>