<div class="orgnize" ng-controller="typeController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">业务类型管理</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:;" ng-click="add()" class="btn green-meadow">
                                    <i class="fa fa-plus"></i> 添加
                                </a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <page-per-counter class="form-group col-md-3"></page-per-counter>
                                        <div  class="col-md-1 col-sm-12"></div>
                                         <div style="padding-top: 0px; margin: 0px;" class="form-group col-md-2 input-md form-md-line-input ">    
                                                <input type="text" class="form-control" ng-model="filterOptions.businessType" placeholder="业务类型Code"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                <input type="text" class="form-control input-md" ng-model="filterOptions.businessName" placeholder="业务类型名称"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                <input type="text" class="form-control input-md" ng-model="filterOptions.remark" placeholder="备注"> 
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                                <label>是否启用:
                                                    <select ng-model="filterOptions.enabled" name="my_sample_1_length" class="form-control input-sm input-xsmall input-inline">
                                                        <option value="">全部</option>
                                                        <option value="YES">启用</option>
                                                        <option value="NO">禁用</option>
                                                    </select>
                                                </label>
                                            </div>
                                </div>
                                </div>
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover table-striped table-condensed flip-content" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="" tabindex="11" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="序号"> 序号 </th>
                                        <th class="" tabindex="2" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="业务类型Code"> 业务类型Code </th>
                                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="业务名称"> 业务类型名称</th>
                                        <th class="" tabindex="1" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="备注"> 备注</th>
                                        <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="是否使用"> 是否使用</th>
                                        <th width="20%" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="操作"> 操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX" role="row" ng-repeat="list in dataInfo">
                                        <td>{{$index}}</td>
                                        <td>{{list.businessType}}</td>
                                        <td>{{list.businessName}}</td>
                                        <td>{{list.remark}}</td>
                                        <td>
                                            
                                            <input bs-switch switch-on-color="{{ 'success' }}" switch-on-text="{{ '启用' }}" switch-off-text="{{ '禁用' }}" switch-change="myswitch(list.businessType, list.enabled)" type="checkbox" ng-model="list.enabled" ng-true-value="'YES'" ng-false-value="'NO'" />
                                        </td>
                                        <td>
                                            <a href="javascript:;" ng-click="edit(list)" class="btn blue">
                                                <i class="fa fa-edit"></i>  修改
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="pageCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="10"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
