<div class="orgnize" ng-controller="logsendController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">短信发送记录</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <page-per-counter class="form-group col-md-3"></page-per-counter>
                                    <div  class="col-md-1 col-sm-12"></div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <!-- <div style="padding-top: 0px; margin: 0px;" class="form-group col-md-2 input-md form-md-line-input ">    
                                            <input type="text" class="form-control" ng-model="filterOptions.logSendId" placeholder="短信记录Id"> 
                                            <div class="form-control-focus"> </div>
                                        </div> -->
                                        <!-- <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                            <input type="text" class="form-control input-md" ng-model="filterOptions.platformChannelId" placeholder="平台渠道Id"> 
                                            <div class="form-control-focus"> </div>
                                        </div> -->
                                        <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                           <!--  <input type="text" class="form-control input-md" ng-model="filterOptions.platformCode" placeholder="平台编号"> 
                                            <div class="form-control-focus"> </div> -->
                                            <select style="width:300px;" ng-model="filterOptions.platformCode" ng-options="x.platformCode as (x.platformCode+$index) for x in platformC" name="platformCode" class="form-control input-small input-inline" required>
                                                <option value="">请选择平台</option>
                                            </select>
                                        </div>
                                        <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                             <input type="text" class="form-control input-md" ng-model="filterOptions.templateCode" placeholder="模板编号"> 
                                            <div class="form-control-focus"> </div>
                                        </div>
                                     <!-- <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                         <input type="text" class="form-control input-md" ng-model="filterOptions.receiverUserId" placeholder="接收者ID"> 
                                        <div class="form-control-focus"> </div>
                                    </div> -->
                                    <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                         <input type="text" class="form-control input-md" ng-model="filterOptions.phone" placeholder="手机号码"> 
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <div style="padding-top: 0px;margin: 0px;" class="form-group col-md-2 form-md-line-input">
                                            <label>发送状态:
                                                <select ng-model="filterOptions.sendStatus" name="my_sample_1_length" class="form-control input-sm input-xsmall input-inline">
                                                    <option value="">全部</option>
                                                    <option value="SUCCESS">成功</option>
                                                    <option value="FAILURE">失败</option>
                                                </select>
                                            </label>
                                        </div>
                                </div>
                                <div class="row" >
                            <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
                                <div class="form-group col-md-4">
                                    <label for="dtp_input1" class="col-md-3 control-label">查询起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                                        <input class="form-control" ng-model="filterOptions.startTime" ng-change="searchStartDate(filterOptions, filterOptions.startTime)" style="display: none;" size="16" type="text" value="" readonly>
                                        <input class="form-control" ng-model="startTime" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1"  value="" /><br/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="dtp_input1" class="col-md-3 control-label">查询结束时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                                        <input class="form-control" ng-model="filterOptions.endTime" ng-change="searchEndDate(filterOptions, filterOptions.endTime)" style="display: none;" size="16" type="text" value="" readonly>
                                        <input class="form-control" ng-model="endTime" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1"  value="" /><br/>
                                </div>
                            </div>
                        </div>
                            </div>
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover table-striped table-condensed flip-content" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="" tabindex="11" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="序号"> 序号 </th>
                                        <!-- <th class="" tabindex="2" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="短信记录Id"> 短信记录Id</th> -->
                                        <!-- <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="平台渠道Id"> 平台渠道Id</th> -->
                                        <th class="" tabindex="1" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="平台编号"> 平台编号</th>
                                        <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="模板编号"> 模板编号</th>
                                        <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="动态密码"> 动态密码</th>
                                        <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="短信内容"> 短信内容</th>
                                        <!-- <th width="20%" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="接收者ID"> 接收者ID</th> -->
                                        <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="手机号码"> 手机号码</th>
                                        <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="发送状态"> 发送状态</th>
                                        <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="发送时间"> 发送时间</th>
                                        <th width="20%" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="备注"> 备注</th>
                                    </tr>
                                </thead>
                                <tbody ng-show="filterOptions.platformCode">
                                    <tr class="gradeX" role="row" ng-repeat="list in dataInfo">
                                        <td>{{$index}}</td>
                                        <!-- <td>{{list.logSendId}}</td> -->
                                        <!-- <td>{{list.platformChannelId}}</td> -->
                                        <td>{{list.platformCode}}</td>
                                        <td>{{list.templateCode}}</td>
                                        <td>{{list.smsCode}}</td>
                                        <td>{{list.smsContent}}</td>
                                        <!-- <td>{{list.receiverUserId}}</td> -->
                                        <td>{{list.phone}}</td>
                                        <td>{{list.sendStatus == 'SUCCESS' ? '成功' : '失败'}}</td>
                                        <td>{{list.sendDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{list.remark}}</td>
                                    </tr>       

                                </tbody>
                            </table>
                            
                        </div>
                        <div style="padding: 20px 0px; text-align: center;font-size: 18px; font-weight: bold; color: #cc9f77;" ng-hide="filterOptions.platformCode">
                                {{platformAuthMsg ? platformAuthMsg : '请选择平台'}}
                            </div>
                            <div style="padding: 20px 0px; text-align: center;font-size: 18px; font-weight: bold; color: #cc9f77;" ng-show="platformAuthMsg">
                                {{platformAuthMsg}}
                            </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="pageCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="10"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
