<div class="modal-header">
    <h3 class="caption-subject font-green bold">{{title}}主题</h3>
</div>

<div class="modal-body">
    <form role="form" name="form">

        <div ng-if="topic2">
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  消息主题标签
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="dayTimesLimit" placeholder="" class="form-control" ng-model="formData.topicTag"disabled  >
                </div>
            </div>
            <!--<div class="form-group col-md-12">-->
                <!--<label class="control-label col-md-3">顺序类型-->
                    <!--&lt;!&ndash;<span class="required" aria-required="true"> * </span>&ndash;&gt;-->
                <!--</label>-->
                <!--<div class="col-md-7 input-icon right">-->
                    <!--&lt;!&ndash;<input type="text" name="templateCode" placeholder="" class="form-control" ng-model="formData.orderType">&ndash;&gt;-->
                    <!--<select name="" class="form-control" ng-model="formData.orderType">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option value="ORDERED">有序</option>-->
                        <!--<option value="UNORDERED">无序</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  路由类型
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <!--<input type="text" name="intervalSeconds" placeholder="" class="form-control" ng-model="formData.routeType" >-->
                    <select name="" class="form-control" ng-model="formData.routeType" >
                        <option value="">请选择</option>
                        <option value="CONSUME">消费</option>
                        <option value="NOTIFY">通知</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-3">MQ Broker标签
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <select name="" class="form-control" ng-model="formData.brokerTag" ng-options="x.templateCode as x.templateName for x in region">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  消息主题名称
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="retryTimes" placeholder="" class="form-control" ng-model="formData.topicName">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">脚本校验
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="platformCode" placeholder="" class="form-control" ng-model="formData.scriptValidtion">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  消息主题描述
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="intervalSeconds" placeholder="" class="form-control" ng-model="formData.topicDesc" >
                </div>
            </div>
        </div>

        <!--==========编辑=========-->
        <div ng-if="topic1">
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  消息主题标签
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="dayTimesLimit" placeholder="" class="form-control" ng-model="formData.topicTag" disabled>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">超时时间/ms
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <!--<input type="text" name="dayTimesLimit" placeholder="" class="form-control" ng-model="formData.timeout" >-->
                    <select name="" class="form-control" ng-model="formData.timeout">
                        <option value="">请选择</option>
                        <option value="3000">3000ms</option>
                        <option value="4000">4000ms</option>
                        <option value="5000">5000ms</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-3">最大连续投递次数
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <!--<input type="text" name="codeLength" placeholder="" class="form-control" ng-model="formData.maxTimes" >-->
                    <select name="" class="form-control" ng-model="formData.maxTimes">
                        <option value="">请选择</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-3">  投递间隔/s
                    <!--<span class="required" aria-required="true"> * </span>-->
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="retryTimes" placeholder="" class="form-control" ng-model="formData.intervalTime" >
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">超时策略
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="platformCode" placeholder="" class="form-control" ng-model="formData.cronExpression">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">最大生产速度
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <!--<input type="text" name="codeLength" placeholder="" class="form-control" ng-model="formData.maxProduceSpeed"  required>-->
                    <select name="" class="form-control" ng-model="formData.maxProduceSpeed" required>
                        <!--<option value="">请选择</option>-->
                        <option value="-1">不限速</option>
                        <option value="0">不允许发送</option>
                        <option value="10">10条/s</option>
                        <option value="20">20条/s</option>
                        <option value="50">50条/s</option>
                        <option value="100">100条/s</option>
                        <option value="200">200条/s</option>
                        <option value="500">500条/s</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">最大消费速度
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <!--<input type="text" name="codeLength" placeholder="" class="form-control" ng-model="formData.maxConsumeSpeed" required>-->
                    <select name="" class="form-control" ng-model="formData.maxConsumeSpeed" required>
                        <!--<option value="">请选择</option>-->
                        <option value="-1">不限速</option>
                        <option value="0">不允许发送</option>
                        <option value="10">10条/s</option>
                        <option value="20">20条/s</option>
                        <option value="50">50条/s</option>
                        <option value="100">100条/s</option>
                        <option value="200">200条/s</option>
                        <option value="500">500条/s</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="err font-red">
            <span>{{error_description}}</span>
        </div>
        <div class="form-group" style=" text-align: center">
            <button type="submit" class="btn btn-success" ng-click="post(formData)" ng-disabled="form.$invalid">提交</button>
            <button class="btn" ng-click="cancel()">取消</button>
        </div>
    </form>
</div>
