<div class="orgnize" ng-controller="subscriberController">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">消息主题详情</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div style="word-wrap: break-word;width: 40%;float: right;">
                        <div class="">
                            <div class="col-md-12" style="padding: 0">
                                <a href="javascript:;" ng-click="edittopic1(datatopicInfo)" class="btn green-meadow">
                                   修改
                                </a>
                            </div><br>
                        </div>
                        <br>
                        <div class="table-scrollable " >
                            <table class="table paddingTable table-bordered table-hover table-striped table-condensed flip-content"  role="grid">
                                <tr>
                                    <td style="max-width: 200px;padding: 10px;" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="超时时间"> 超时时间 </td>
                                    <td>{{datatopicInfo.timeout}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最大连投数"> 最大连投数</td>                                            <td>{{datatopicInfo.maxTimes}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="连投率"> 连续投递速率</td>                                             <td>{{datatopicInfo.intervalTime}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="重发间隔"> 重发间隔</td>
                                    <td>{{datatopicInfo.cronExpression}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最高产速"> 最大生产速度</td>
                                    <td>{{datatopicInfo.maxProduceSpeed}}</td>

                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最大消费速度"> 最大消费速度</td>
                                    <td>{{datatopicInfo.maxConsumeSpeed}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="word-wrap: break-word;width: 40%;float: left;">
                        <div class="" >
                            <div class="col-md-12" style="padding: 0">
                                <a href="javascript:;" ng-click="edittopic2(datatopicInfo)" class="btn green-meadow">
                                    修改
                                </a>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="table-scrollable " >
                            <table class="table paddingTable table-bordered table-hover table-striped table-condensed flip-content"  role="grid">
                                <tr>
                                    <td style="max-width: 200px;padding: 10px;" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1"aria-label="超时时间"> topic标签 </td>
                                    <td>{{datatopicInfo.topicTag}}</td>
                                </tr>
                                <tr>
                                    <td style="max-width: 200px;padding: 10px;" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1"aria-label="超时时间"> topic名称 </td>
                                    <td>{{datatopicInfo.topicName}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最高产速"> 路由类型</td>
                                    <td>{{list.routeType=="CONSUME"?"消费":"通知"}}</td>

                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最大连投数"> MQ Broker标签</td>                                            <td>{{datatopicInfo.brokerTag}}</td>
                                </tr>
                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="连投率"> 消息主题描述</td>                                             <td>{{datatopicInfo.topicDesc}}</td>
                                </tr>

                                <tr>
                                    <td width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="最大消费速度"> 脚本校验</td>
                                    <td>{{datatopicInfo.scriptValidtion}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br><br>
                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer" style="padding-top: 268px">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:;" ng-click="add(list.topicTag)" class="btn green-meadow">
                                    <i class="fa fa-plus"></i> 新建
                                </a>
                            </div>
                        </div>
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover table-striped table-condensed flip-content" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                <thead>
                                <tr role="row">
                                    <th class="" tabindex="11" aria-controls="sample_3" rowspan="1" colspan="1" aria-label="序号"> 序号 </th>
                                    <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="订阅者ID"> 订阅者ID</th>
                                    <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="订阅者令牌"> 订阅者令牌</th>
                                    <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="目标URL地址"> 目标URL地址</th>
                                    <th class="" tabindex="1" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="订阅者状态"> 订阅者状态 </th>
                                    <th width="" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="MQ Broker标签"> 主题标签</th>
                                    <th class="" tabindex="4" aria-controls="sample_5" rowspan="1" colspan="1" aria-label="消息主题状态"> 备注</th>
                                    <th width="20%" class="" tabindex="6" aria-controls="sample_7" rowspan="1" colspan="1" aria-label="操作"> 操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX" role="row" ng-repeat="list in dataInfo">
                                    <td>{{$index+1}}</td>
                                    <td>{{list.subscriberId}}</td>
                                    <td>{{list.subscriberKey}}</td>
                                    <td>{{list.targetUrl}}</td>
                                    <!--<td>{{list.subscribeStatus | subscribeStatus}}</td>-->
                                    <td>
                                        <input bs-switch switch-on-color="{{ 'success' }}" switch-on-text="{{ '启用' }}" switch-off-text="{{ '禁用' }}" switch-change="refreshSwitch(list.subscriberId, list.subscribeStatus)" type="checkbox" ng-model="list.subscribeStatus" ng-true-value="'START'" ng-false-value="'STOP'" />
                                    </td>
                                    <td>{{list.topicTag}}</td>
                                    <td>{{list.remark}}</td>
                                    <td>
                                        <a href="javascript:;" ng-click="edit(list)" class="btn blue">
                                            <i class="fa fa-edit"></i>  修改
                                        </a>
                                        <a  href="javascript:;" ng-click="delet(list.subscriberId)" class="btn red-intense">
                                            <i class="fa fa-trash"></i> 删除
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div style="padding: 20px 0px; text-align: center;font-size: 18px; font-weight: bold; color: #cc9f77;" ng-show="platformAuthMsg">
                            {{platformAuthMsg}}
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="pageCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="10"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
