<div class="modal-header">
    <h3 class="caption-subject font-green bold">{{title}}MQ Broker</h3>
</div>

<div class="modal-body">
    <form role="form" name="form">
        <div ng-if="brokerStatusBlock">
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">broker标签
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="brokerTag" placeholder="" class="form-control" ng-model="formData.brokerTag"  ng-pattern="/^[^\u4e00-\u9fa5]{0,}$/"   required>
                    <span style="color: red;" ng-show="form.brokerTag.$invalid && !form.brokerTag.$error.required">非法的参数值</span>
                </div>
            </div>
        </div>
        <div ng-if="brokeredit">
            <div class="form-group col-md-12">
                <label class="control-label col-md-3">broker标签
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-7 input-icon right">
                    <input type="text" name="brokerTag" placeholder="" class="form-control" ng-model="formData.brokerTag" required disabled>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12" ng-if="brokerStatusBlock">
            <label class="control-label col-md-3">broker名称
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="brokerName" placeholder="" class="form-control" ng-model="formData.brokerName" required>
            </div>
        </div>

        <div class="form-group col-md-12" ng-if="brokeredit">
            <label class="control-label col-md-3">broker名称
                <!--<span class="required" aria-required="true"> * </span>-->
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="brokerName" placeholder="" class="form-control" ng-model="formData.brokerName">
            </div>
        </div>


        <div class="form-group col-md-12">
            <label class="control-label col-md-3">IP地址
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="host" placeholder="" class="form-control" ng-model="formData.host" required ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/">
                <span style="color: red;" ng-show="form.host.$invalid && !form.host.$error.required">非法的参数值</span>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label col-md-3">端口号
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="port" placeholder="" class="form-control" ng-model="formData.port" required ng-pattern="/^([0-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/">
                <span style="color: red;" ng-show="form.port.$invalid && !form.port.$error.required">非法的参数值</span>
            </div>
        </div>


        <div class="form-group col-md-12">
            <label class="control-label col-md-3">用户名称
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="userName" placeholder="" class="form-control" ng-model="formData.userName" ng-pattern="/^[^\u4e00-\u9fa5]{0,}$/"  required>
                <span style="color: red;" ng-show="form.userName.$invalid && !form.userName.$error.required">非法的参数值</span>
            </div>
        </div>


        <div class="form-group col-md-12">
            <label class="control-label col-md-3"> 密码
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="password" placeholder="" class="form-control" ng-model="formData.password" ng-pattern="/^[^\u4e00-\u9fa5]{0,}$/"  required>
                <span style="color: red;" ng-show="form.password.$invalid && !form.password.$error.required">非法的参数值</span>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label col-md-3">  虚拟主机
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <input type="text" name="virtualHost" placeholder="" class="form-control" ng-model="formData.virtualHost" ng-pattern="/^/[^\u4e00-\u9fa5]{0,}$/" required>
                <span style="color: red;" ng-show="form.virtualHost.$invalid && !form.virtualHost.$error.required">非法的参数值</span>
            </div>
        </div>

        <div class="form-group col-md-12" ng-if="brokerStatusBlock">
            <label class="control-label col-md-3">broker状态
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <!--<input type="text" name="brokerStatus" placeholder="" class="form-control" ng-model="formData.brokerStatus" required>-->
                <select name="" class="form-control" ng-model="formData.brokerStatus" required>
                    <option value="ONLINE">上线</option>
                    <option value="OFFLINE">下线</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label col-md-3">主机区域
                <span class="required" aria-required="true"> * </span>
            </label>

            <div class="col-md-7 input-icon right">
                <select name="" class="form-control" ng-model="formData.region" ng-options="x.templateCode as x.templateName for x in region"required>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label col-md-3">  发布确认
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 input-icon right">
                <!--<input type="text" name="publisherConfirm" placeholder="" class="form-control" ng-model="formData.publisherConfirm"  required>-->
                <select name="" class="form-control" ng-model="formData.publisherConfirm" required>
                    <option value="true" ng-selected="formData.publisherConfirm==true">是</option>
                    <option value="false" ng-selected="formData.publisherConfirm==false">否</option>
                </select>
            </div>
        </div>

        <div class="err font-red">
            <span>{{error_description}}</span>
        </div>
        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-success" ng-click="post(formData)" ng-disabled="form.$invalid">提交</button>
            <button class="btn" ng-click="cancel()">取消</button>
        </div>
    </form>
</div>
